* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*pagina website*/

body {
    background: #ffffff;
    margin: 0;
}

.navtop {
    background-color: #3f69a8;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ecf0f6;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #ecf0f6;
}


/*HOME*/

.conteudo {
    width: 1000px;
    margin: 0 auto;
}

.conteudo h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    columns: #666666;
}


/*consulta*/

.contato {
    width: 1000px;
    margin: 0 auto;
}

.contato h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    columns: #666666;
}

.contato .inserir {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px;
    margin: 15px 0;
}

.contato .inserir:hover {
    background-color: #32a367;
}

.contato .paginacao {
    display: flex;
    justify-content: flex-end;
}

.contato .paginacao a {
    display: inline-block;
    text-decoration: none;
    background-color: #a5a7a9;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}

.contato .paginacao a:hover {
    background-color: #999b9d;
}

.contato table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}

.contato table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}

.contato table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}

.contato table tbody tr {
    border-bottom: 1px solid #d3dae0;
}

.contato table tbody tr:nth-child(even) {
    background-color: #fbfcfc;
}

.contato table tbody tr:hover {
    background-color: #376ab7;
}

.contato table tbody tr:hover td {
    color: #ffffff;
}

.contato table tbody tr td {
    padding: 10px;
}

.contato table tbody tr:hover td:nth-child(1) {
    color: #a5a7a9;
}

.contato table tbody tr td.atos {
    padding: 8px;
    text-align: right;
}

.contato table tbody tr td.atos .edit,
.contato table tbody tr td.atos .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 12px;
}

.contato table tr td.atos .trash {
    background-color: #b73737;
}

.contato table tbody tr td.atos .trash:hover {
    background-color: #a33131;
}

.contato table tbody tr td.atos .edit {
    background-color: #37afb7;
}

.contato table tbody tr td.atos .edit:hover {
    background-color: #319ca3;
}


/*INSERIR*/

.atualizar {
    width: 1000px;
    margin: 0 auto;
}

.atualizar h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    columns: #666666;
}

.atualizar form {
    padding: 15px 0;
    display: flex;
    flex-flow: wrap;
}

.atualizar form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}

.atualizar form input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.atualizar form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
}

.atualizar form input[type="submit"]:hover {
    background-color: #32a367;
}


/*ATUALIZAR*/

.update {
    width: 1000px;
    margin: 0 auto;
}

.update h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    columns: #666666;
}

.update form {
    padding: 15px 0;
    display: flex;
    flex-flow: wrap;
}

.update form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}

.update form input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

.update form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
}

.update form input[type="submit"]:hover {
    background-color: #32a367;
}


/*DELETE*/

.delete {
    width: 1000px;
    margin: 0 auto;
}

.delete h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    columns: #666666;
}

.delete .escolha {
    display: flex;
}

.delete .escolha a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.delete .escolha a:hover {
    background-color: #32a367;
}


/*LOGIN*/

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}